<div class="container">

  <p id="notice"><%= notice %></p>

  <h1>Hackathons</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Start date</th>
        <th>End date</th>

      <% if hacker_signed_in? %>
        <th colspan="2"></th>
      <% end %>
      </tr>
    </thead>

    <tbody>
      <% @hackathons.each do |hackathon| %>
        <tr>
          <td><%= render hackathon %></td>
          <td><%= hackathon.start_date %></td>
          <td><%= hackathon.end_date %></td>

        <% if hacker_signed_in? %>
          <td><%= link_to 'Edit', edit_hackathon_path(hackathon) %></td>
          <td><%= link_to 'Destroy', hackathon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Hackathon', new_hackathon_path, class: 'btn btn-default btn-lg' %>

</div>