<div class="container">

  <p id="notice"><%= notice %></p>
  <h1><%= @hackathon.title %></h1>

  <p>
    <strong>Start date:</strong>
    <%= @hackathon.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= @hackathon.end_date %>
  </p>

  <p>
    <strong>Ideas:</strong>
    <%= render @hackathon.ideas %>
  </p>

  <%= link_to 'Edit', edit_hackathon_path(@hackathon) , :class => 'btn btn-lg btn-default btn-block' %>
</div>