<!DOCTYPE html>
<html>
  <head>
    <title>Metathon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    | <%= link_to "Hackathons", root_path %> | <%= link_to "Ideas", ideas_path %> | 
    <%= 
      if hacker_signed_in?
        link_to  'Logout', destroy_hacker_session_path, method: :delete
      else
      	link_to  'Login', new_hacker_session_path
      end
    %> |

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

  </body>
</html>
